@font-face {
    font-family: Outfit;
    src: url(css/fonts/Outfit-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Outfit;
    src: url(css/fonts/Outfit-Bold.ttf);
    font-weight: bold;
}

body {
    font-family: Outfit, sans-serif;
    font-weight: normal;
}

#name {
    font-family: Outfit;
    font-weight: bold;
}